body{
    font-family: Arial;
    font-size: 1em;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    overflow: hidden;
    max-width: 100vw;
    height: 100vh;
    background: url(../img/lined_paper.png);
}
.element{
    position: absolute;
    transition: all 2s ease-in-out;
}
.move_left{
    right: 0;
    top:20%;
}
.move_left:hover{
    transform: translate(-1500px,0px);
/*    transform: rotate(-45deg);*/
/*    transform-origin: 50% 50% 0;*/
/*    transform: scale(0.5,2);*/
}
.move_right{
    left: 0;
    top: 20%;
}
.move_right:hover{
transform: translate(1500px,0px);
}
.coin{
    top: 5%;
    left: 50%;
    margin-left: -55px;
}
.coin:hover{
    transform: translate(0px,500px);
}
.boomerang{
    right: 2%;
    bottom: 2%;
}
.boomerang:hover{
    transform: translate(-750px,-650px) rotate(-190deg);
} 
.car{
    right: 30%;
    bottom: 30%;
}
.car:hover{
    transform: scale(2);
}
.paper-plane{
    bottom: 2%;
    left: 2%;
}
.paper-plane:hover{
    transform: translate(500px,-500px);
}
.pencil{
    left: 20%;
    bottom: 20%;
}
.pencil:hover{
    transform: rotate(360deg);
}
.rocket{
    bottom: 5%;
    right: 50%;
    margin-right: -45px;
    
}
.rocket:hover{
transform: translate(0px,-500px);
}

.cube{
    position: absolute;
    bottom: 290px;
    right: 230px;
    width: 80px;
    height: 90px;
    background-color: aqua;
    transition: all 2s ease-in-out;
}
.cube:hover{
    transform: skewY(45deg);
}
    